web/WEB-INF/wsdl/uts.nlm.nih.gov_443/services/download.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="DownloadServiceControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts.nlm.nih.gov:443/services/download?xsd=1" />
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init" />
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse" />
</message>
<message name="getValidDownloadGroups">
<part name="parameters" element="tns:getValidDownloadGroups" />
</message>
<message name="getValidDownloadGroupsResponse">
<part name="parameters" element="tns:getValidDownloadGroupsResponse" />
</message>
<message name="getDownloadReleases">
<part name="parameters" element="tns:getDownloadReleases" />
</message>
<message name="getDownloadReleasesResponse">
<part name="parameters" element="tns:getDownloadReleasesResponse" />
</message>
<message name="getDownloadRelease">
<part name="parameters" element="tns:getDownloadRelease" />
</message>
<message name="getDownloadReleaseResponse">
<part name="parameters" element="tns:getDownloadReleaseResponse" />
</message>
<message name="getLatestDownloadRelease">
<part name="parameters" element="tns:getLatestDownloadRelease" />
</message>
<message name="getLatestDownloadReleaseResponse">
<part name="parameters" element="tns:getLatestDownloadReleaseResponse" />
</message>
<message name="getLatestDownloadReleaseSet">
<part name="parameters" element="tns:getLatestDownloadReleaseSet" />
</message>
<message name="getLatestDownloadReleaseSetResponse">
<part name="parameters" element="tns:getLatestDownloadReleaseSetResponse" />
</message>
<message name="getDownloadArtifact">
<part name="parameters" element="tns:getDownloadArtifact" />
</message>
<message name="getDownloadArtifactResponse">
<part name="parameters" element="tns:getDownloadArtifactResponse" />
</message>
<message name="getDownloadArtifacts">
<part name="parameters" element="tns:getDownloadArtifacts" />
</message>
<message name="getDownloadArtifactsResponse">
<part name="parameters" element="tns:getDownloadArtifactsResponse" />
</message>
<portType name="DownloadServiceController">
<operation name="init">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/initRequest" message="tns:init" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/initResponse" message="tns:initResponse" />
</operation>
<operation name="getValidDownloadGroups">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getValidDownloadGroupsRequest" message="tns:getValidDownloadGroups" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getValidDownloadGroupsResponse" message="tns:getValidDownloadGroupsResponse" />
</operation>
<operation name="getDownloadReleases">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadReleasesRequest" message="tns:getDownloadReleases" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadReleasesResponse" message="tns:getDownloadReleasesResponse" />
</operation>
<operation name="getDownloadRelease">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadReleaseRequest" message="tns:getDownloadRelease" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadReleaseResponse" message="tns:getDownloadReleaseResponse" />
</operation>
<operation name="getLatestDownloadRelease">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getLatestDownloadReleaseRequest" message="tns:getLatestDownloadRelease" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getLatestDownloadReleaseResponse" message="tns:getLatestDownloadReleaseResponse" />
</operation>
<operation name="getLatestDownloadReleaseSet">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getLatestDownloadReleaseSetRequest" message="tns:getLatestDownloadReleaseSet" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getLatestDownloadReleaseSetResponse" message="tns:getLatestDownloadReleaseSetResponse" />
</operation>
<operation name="getDownloadArtifact">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadArtifactRequest" message="tns:getDownloadArtifact" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadArtifactResponse" message="tns:getDownloadArtifactResponse" />
</operation>
<operation name="getDownloadArtifacts">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadArtifactsRequest" message="tns:getDownloadArtifacts" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/DownloadServiceController/getDownloadArtifactsResponse" message="tns:getDownloadArtifactsResponse" />
</operation>
</portType>
<binding name="DownloadServiceControllerPortBinding" type="tns:DownloadServiceController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="init">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getValidDownloadGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDownloadReleases">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDownloadRelease">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLatestDownloadRelease">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLatestDownloadReleaseSet">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDownloadArtifact">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDownloadArtifacts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DownloadServiceControllerService">
<port name="DownloadServiceControllerPort" binding="tns:DownloadServiceControllerPortBinding">
<soap:address location="https://uts.nlm.nih.gov:443/services/download" />
</port>
</service>
</definitions>