web/WEB-INF/wsdl/uts.nlm.nih.gov_443/services/nwsSemanticNetwork.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsSemanticNetworkControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts.nlm.nih.gov:443/services/nwsSemanticNetwork?xsd=1" />
</xsd:schema>
</types>
<message name="getSemanticType">
<part name="parameters" element="tns:getSemanticType" />
</message>
<message name="getSemanticTypeResponse">
<part name="parameters" element="tns:getSemanticTypeResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="getSemanticNetworkRelationLabel">
<part name="parameters" element="tns:getSemanticNetworkRelationLabel" />
</message>
<message name="getSemanticNetworkRelationLabelResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelResponse" />
</message>
<message name="getInheritedSemanticTypeRelations">
<part name="parameters" element="tns:getInheritedSemanticTypeRelations" />
</message>
<message name="getInheritedSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getInheritedSemanticTypeRelationsResponse" />
</message>
<message name="getInheritedSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getInheritedSemanticNetworkRelationLabelRelations" />
</message>
<message name="getInheritedSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getInheritedSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getInverseInheritedSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getInverseInheritedSemanticNetworkRelationLabelRelations" />
</message>
<message name="getInverseInheritedSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getInverseInheritedSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getInverseInheritedSemanticTypeRelations">
<part name="parameters" element="tns:getInverseInheritedSemanticTypeRelations" />
</message>
<message name="getInverseInheritedSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getInverseInheritedSemanticTypeRelationsResponse" />
</message>
<message name="getInverseSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getInverseSemanticNetworkRelationLabelRelations" />
</message>
<message name="getInverseSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getInverseSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getSemanticNetworkRelationLabelRelation">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelation" />
</message>
<message name="getSemanticNetworkRelationLabelRelationResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationResponse" />
</message>
<message name="getSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelations" />
</message>
<message name="getSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getSemanticNetworkRelationLabelRelationsForPair">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationsForPair" />
</message>
<message name="getSemanticNetworkRelationLabelRelationsForPairResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationsForPairResponse" />
</message>
<message name="getSemanticTypeGroup">
<part name="parameters" element="tns:getSemanticTypeGroup" />
</message>
<message name="getSemanticTypeGroupResponse">
<part name="parameters" element="tns:getSemanticTypeGroupResponse" />
</message>
<message name="getSemanticTypeRelationsForPair">
<part name="parameters" element="tns:getSemanticTypeRelationsForPair" />
</message>
<message name="getSemanticTypeRelationsForPairResponse">
<part name="parameters" element="tns:getSemanticTypeRelationsForPairResponse" />
</message>
<message name="getSemanticTypeRelation">
<part name="parameters" element="tns:getSemanticTypeRelation" />
</message>
<message name="getSemanticTypeRelationResponse">
<part name="parameters" element="tns:getSemanticTypeRelationResponse" />
</message>
<message name="getSemanticTypeRelations">
<part name="parameters" element="tns:getSemanticTypeRelations" />
</message>
<message name="getSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getSemanticTypeRelationsResponse" />
</message>
<message name="getSemanticTypesByGroup">
<part name="parameters" element="tns:getSemanticTypesByGroup" />
</message>
<message name="getSemanticTypesByGroupResponse">
<part name="parameters" element="tns:getSemanticTypesByGroupResponse" />
</message>
<message name="getAllSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabelRelations" />
</message>
<message name="getAllSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getAllSemanticNetworkRelationLabels">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabels" />
</message>
<message name="getAllSemanticNetworkRelationLabelsResponse">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabelsResponse" />
</message>
<message name="getAllSemanticTypeGroups">
<part name="parameters" element="tns:getAllSemanticTypeGroups" />
</message>
<message name="getAllSemanticTypeGroupsResponse">
<part name="parameters" element="tns:getAllSemanticTypeGroupsResponse" />
</message>
<message name="getAllSemanticTypes">
<part name="parameters" element="tns:getAllSemanticTypes" />
</message>
<message name="getAllSemanticTypesResponse">
<part name="parameters" element="tns:getAllSemanticTypesResponse" />
</message>
<message name="getInverseSemanticTypeRelations">
<part name="parameters" element="tns:getInverseSemanticTypeRelations" />
</message>
<message name="getInverseSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getInverseSemanticTypeRelationsResponse" />
</message>
<message name="getAllSemanticTypeRelations">
<part name="parameters" element="tns:getAllSemanticTypeRelations" />
</message>
<message name="getAllSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getAllSemanticTypeRelationsResponse" />
</message>
<portType name="UtsWsSemanticNetworkController">
<operation name="getSemanticType">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRequest" message="tns:getSemanticType" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeResponse" message="tns:getSemanticTypeResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticType/Fault/UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabel">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRequest" message="tns:getSemanticNetworkRelationLabel" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelResponse" message="tns:getSemanticNetworkRelationLabelResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabel/Fault/UtsFault" />
</operation>
<operation name="getInheritedSemanticTypeRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInheritedSemanticTypeRelationsRequest" message="tns:getInheritedSemanticTypeRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInheritedSemanticTypeRelationsResponse" message="tns:getInheritedSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInheritedSemanticTypeRelations/Fault/UtsFault" />
</operation>
<operation name="getInheritedSemanticNetworkRelationLabelRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInheritedSemanticNetworkRelationLabelRelationsRequest" message="tns:getInheritedSemanticNetworkRelationLabelRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInheritedSemanticNetworkRelationLabelRelationsResponse" message="tns:getInheritedSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInheritedSemanticNetworkRelationLabelRelations/Fault/UtsFault" />
</operation>
<operation name="getInverseInheritedSemanticNetworkRelationLabelRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseInheritedSemanticNetworkRelationLabelRelationsRequest" message="tns:getInverseInheritedSemanticNetworkRelationLabelRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseInheritedSemanticNetworkRelationLabelRelationsResponse" message="tns:getInverseInheritedSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseInheritedSemanticNetworkRelationLabelRelations/Fault/UtsFault" />
</operation>
<operation name="getInverseInheritedSemanticTypeRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseInheritedSemanticTypeRelationsRequest" message="tns:getInverseInheritedSemanticTypeRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseInheritedSemanticTypeRelationsResponse" message="tns:getInverseInheritedSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseInheritedSemanticTypeRelations/Fault/UtsFault" />
</operation>
<operation name="getInverseSemanticNetworkRelationLabelRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseSemanticNetworkRelationLabelRelationsRequest" message="tns:getInverseSemanticNetworkRelationLabelRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseSemanticNetworkRelationLabelRelationsResponse" message="tns:getInverseSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseSemanticNetworkRelationLabelRelations/Fault/UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabelRelation">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationRequest" message="tns:getSemanticNetworkRelationLabelRelation" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationResponse" message="tns:getSemanticNetworkRelationLabelRelationResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelation/Fault/UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabelRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationsRequest" message="tns:getSemanticNetworkRelationLabelRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationsResponse" message="tns:getSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelations/Fault/UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabelRelationsForPair">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationsForPairRequest" message="tns:getSemanticNetworkRelationLabelRelationsForPair" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationsForPairResponse" message="tns:getSemanticNetworkRelationLabelRelationsForPairResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticNetworkRelationLabelRelationsForPair/Fault/UtsFault" />
</operation>
<operation name="getSemanticTypeGroup">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeGroupRequest" message="tns:getSemanticTypeGroup" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeGroupResponse" message="tns:getSemanticTypeGroupResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeGroup/Fault/UtsFault" />
</operation>
<operation name="getSemanticTypeRelationsForPair">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationsForPairRequest" message="tns:getSemanticTypeRelationsForPair" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationsForPairResponse" message="tns:getSemanticTypeRelationsForPairResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationsForPair/Fault/UtsFault" />
</operation>
<operation name="getSemanticTypeRelation">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationRequest" message="tns:getSemanticTypeRelation" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationResponse" message="tns:getSemanticTypeRelationResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelation/Fault/UtsFault" />
</operation>
<operation name="getSemanticTypeRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationsRequest" message="tns:getSemanticTypeRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelationsResponse" message="tns:getSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypeRelations/Fault/UtsFault" />
</operation>
<operation name="getSemanticTypesByGroup">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypesByGroupRequest" message="tns:getSemanticTypesByGroup" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypesByGroupResponse" message="tns:getSemanticTypesByGroupResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getSemanticTypesByGroup/Fault/UtsFault" />
</operation>
<operation name="getAllSemanticNetworkRelationLabelRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticNetworkRelationLabelRelationsRequest" message="tns:getAllSemanticNetworkRelationLabelRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticNetworkRelationLabelRelationsResponse" message="tns:getAllSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticNetworkRelationLabelRelations/Fault/UtsFault" />
</operation>
<operation name="getAllSemanticNetworkRelationLabels">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticNetworkRelationLabelsRequest" message="tns:getAllSemanticNetworkRelationLabels" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticNetworkRelationLabelsResponse" message="tns:getAllSemanticNetworkRelationLabelsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticNetworkRelationLabels/Fault/UtsFault" />
</operation>
<operation name="getAllSemanticTypeGroups">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypeGroupsRequest" message="tns:getAllSemanticTypeGroups" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypeGroupsResponse" message="tns:getAllSemanticTypeGroupsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypeGroups/Fault/UtsFault" />
</operation>
<operation name="getAllSemanticTypes">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypesRequest" message="tns:getAllSemanticTypes" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypesResponse" message="tns:getAllSemanticTypesResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypes/Fault/UtsFault" />
</operation>
<operation name="getInverseSemanticTypeRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseSemanticTypeRelationsRequest" message="tns:getInverseSemanticTypeRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseSemanticTypeRelationsResponse" message="tns:getInverseSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getInverseSemanticTypeRelations/Fault/UtsFault" />
</operation>
<operation name="getAllSemanticTypeRelations">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypeRelationsRequest" message="tns:getAllSemanticTypeRelations" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypeRelationsResponse" message="tns:getAllSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSemanticNetworkController/getAllSemanticTypeRelations/Fault/UtsFault" />
</operation>
</portType>
<binding name="UtsWsSemanticNetworkControllerImplPortBinding" type="tns:UtsWsSemanticNetworkController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getSemanticType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInheritedSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInheritedSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseInheritedSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseInheritedSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabelRelation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabelRelationsForPair">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeRelationsForPair">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeRelation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypesByGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticNetworkRelationLabels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticTypeGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsSemanticNetworkControllerImplService">
<port name="UtsWsSemanticNetworkControllerImplPort" binding="tns:UtsWsSemanticNetworkControllerImplPortBinding">
<soap:address location="https://uts.nlm.nih.gov:443/services/nwsSemanticNetwork" />
</port>
</service>
</definitions>