src/conf/xml-resources/web-service-references/nwsSecurity/wsdl/uts.nlm.nih.gov_443/services/nwsSecurity.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsSecurityControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts.nlm.nih.gov:443/services/nwsSecurity?xsd=1" />
</xsd:schema>
</types>
<message name="getProxyTicket">
<part name="parameters" element="tns:getProxyTicket" />
</message>
<message name="getProxyTicketResponse">
<part name="parameters" element="tns:getProxyTicketResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="validateProxyTicket">
<part name="parameters" element="tns:validateProxyTicket" />
</message>
<message name="validateProxyTicketResponse">
<part name="parameters" element="tns:validateProxyTicketResponse" />
</message>
<message name="getProxyGrantTicket">
<part name="parameters" element="tns:getProxyGrantTicket" />
</message>
<message name="getProxyGrantTicketResponse">
<part name="parameters" element="tns:getProxyGrantTicketResponse" />
</message>
<message name="getProxyGrantTicketWithApiKey">
<part name="parameters" element="tns:getProxyGrantTicketWithApiKey" />
</message>
<message name="getProxyGrantTicketWithApiKeyResponse">
<part name="parameters" element="tns:getProxyGrantTicketWithApiKeyResponse" />
</message>
<portType name="UtsWsSecurityController">
<operation name="getProxyTicket">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyTicketRequest" message="tns:getProxyTicket" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyTicketResponse" message="tns:getProxyTicketResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyTicket/Fault/UtsFault" />
</operation>
<operation name="validateProxyTicket">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/validateProxyTicketRequest" message="tns:validateProxyTicket" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/validateProxyTicketResponse" message="tns:validateProxyTicketResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/validateProxyTicket/Fault/UtsFault" />
</operation>
<operation name="getProxyGrantTicket">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyGrantTicketRequest" message="tns:getProxyGrantTicket" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyGrantTicketResponse" message="tns:getProxyGrantTicketResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyGrantTicket/Fault/UtsFault" />
</operation>
<operation name="getProxyGrantTicketWithApiKey">
<input wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyGrantTicketWithApiKeyRequest" message="tns:getProxyGrantTicketWithApiKey" />
<output wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyGrantTicketWithApiKeyResponse" message="tns:getProxyGrantTicketWithApiKeyResponse" />
<fault message="tns:UtsFault" name="UtsFault" wsam:Action="http://webservice.uts.umls.nlm.nih.gov/UtsWsSecurityController/getProxyGrantTicketWithApiKey/Fault/UtsFault" />
</operation>
</portType>
<binding name="UtsWsSecurityControllerImplPortBinding" type="tns:UtsWsSecurityController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getProxyTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="validateProxyTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getProxyGrantTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getProxyGrantTicketWithApiKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsSecurityControllerImplService">
<port name="UtsWsSecurityControllerImplPort" binding="tns:UtsWsSecurityControllerImplPortBinding">
<soap:address location="https://uts.nlm.nih.gov:443/services/nwsSecurity" />
</port>
</service>
</definitions>